
/*increase header font size*/

#headerText {
    font-size: 50px;
}

/*background color classes for UV index*/

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-orange {
    background-color: orange;
}

.bg-red {
    background-color: red;
}

.bg-violet {
    background-color: violet;
}